# Python
__pycache__/
*.py[cod]
*$py.class
.pytest_cache/
.mypy_cache/
.coverage
.coverage.*
htmlcov/
.tox/
.nox/
venv/
.venv/
env/
ENV/
env.bak/
*.env
*.env.*
*.venv
pip-log.txt
pip-delete-this-directory.txt
*.egg-info/
.eggs/
dist/
build/
*.egg
*.manifest
*.spec

# MkDocs
site/

# OS/editor cruft
.DS_Store
Thumbs.db
.vscode/
.idea/

# Project scratch
*.log
*.tmp
.cache/
*.swp
*.swo
*~
